{% extends 'model.html' %} {% block content %}
<div class="container">
    <div class='d-flex justify-content-around'>
        <div class="card" style="width: 18rem;">
            <img src="\static\assets\Jacob.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Jacob Rochefort</h5>
                <p class="card-text">Jacob's experience lies mostly in management and project oversight as such his focus was on team organization and keeping to goal-oriented design.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">Co-developer</li>
                <li class="list-group-item text-center">Python Enthusiast</li>
                <li class="list-group-item text-center">Great Teammate</li>
            </ul>
            <div class="d-flex card-body justify-content-around">
                <a href="https://github.com/LtCorsair" class="card-link">GitHub</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="\static\assets\Tristan.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Tristan White</h5>
                <p class="card-text">Tristan has a background in photography so he tends to focus more on Front-End Design, UI & UX</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">Co-developer</li>
                <li class="list-group-item text-center">Python Enthusiast</li>
                <li class="list-group-item text-center">Ok Teammate</li>
            </ul>
            <div class="d-flex card-body justify-content-around">
                <a href="https://www.linkedin.com/in/tristan-white-8054873a/" class="card-link">LinkedIn</a>
                <a href="https://github.com/offtheclockk" class="card-link">GitHub</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="\static\assets\Sal.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Sal Nunez</h5>
                <p class="card-text">"Would ace of all trades be very conceited? - Sal"</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">Co-developer</li>
                <li class="list-group-item text-center">Python Enthusiast</li>
                <li class="list-group-item text-center">Great Teammate</li>
            </ul>
            <div class="d-flex card-body justify-content-around">
                <a href="https://www.linkedin.com/in/sal-nunez-52b4a621a/" class="card-link">LinkedIn</a>
                <a href="https://github.com/Sal-Nunez" class="card-link">GitHub</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}