{% extends 'model.html' %} {% block content %}
<div class="container d-flex justify-content-between">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <div class='mt-3'>
        <form action="/newsletter_signup" method='post'>
            <label class="form-check-label" for="flexCheckDefault">Interested in emails?</label>
            {% if user %}
            <input type="hidden" name='email' value='{{user.email}}'>
            {% else %}
            <input type="email" name='email'>
            {% endif %}
            <button class='btn btn-primary me-3'>Sign Up</button>
        </form>
    </div>
</div>
<div class="justify-content-center d-flex">
    <div>
        {% if user.orders %} {% for order in user.orders %}
        <h1>Order #: {{ order.id }}</h1>
        {% for order_item in order.order_items %} {% if order.id == order_item.order_id %}
        <p>Order #: {{order_item.order_id }} Product: {{ order_item.product.name }}</p>
        <p>{{ order_item.product.description }}</p>
        <p>Arrangement: {{ order_item.arrangement.size}}</p>
        <p>Price: ${{ order_item.arrangement.price }}</p>
        {% endif %} {% endfor %} {% endfor %} {% else %}
        <h1>No Order History:</h1>
        {% endif %}
    </div>
</div>
{% endblock %}