{% extends 'model.html' %}
{% block content %}
<H1 class="text-center mt-4 mb-2">CHECKOUT</H1>
{% if user %}
<h1>Welcome! {{ user.full_name }}</h1>
<div class="d-flex justify-content-center mt-3 ms-3">
    <div class="row">
        {% for cart_item in cart.cart_items %}
        <div class="col-auto">
            <img class="thumbnail5" src="{{ cart_item.guest_arrangement.image }}" alt="">
            <p>Product: {{ cart_item.guest_arrangement.product.name }}</p>
            <p>Arrangement: {{ cart_item.guest_arrangement.size }}</p>
            <p>Quantity: <span class="quantity">{{ cart_item.quantity }}</span></p>
            <p>Price: $<span class="price">{{ cart_item.guest_arrangement.price| round| int}}</span></p>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="d-flex justify-content-center mt-3 ms-3">
    <div class="row">
        {% for cart_item in cart_items %}
        <div class="col-auto">
            <img class="thumbnail5" src="{{ cart_item.guest_arrangement.image }}" alt="">
            <p>Product: {{ cart_item.guest_arrangement.product.name }}</p>
            <p>Arrangement: {{ cart_item.guest_arrangement.size }}</p>
            <p>Quantity: <span class="quantity">{{ cart_item.quantity }}</span></p>
            <p>Price: $<span class="price">{{ cart_item.guest_arrangement.price| round| int}}</span></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<div id="smart-button-container">
    <div style="text-align: center"><label for="description" style="font-size: 2rem; font-weight: bold;">Flowers</label>
        <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Please enter a description
        </p>
        <div style="text-align: center"><label for="amount" style="font-size: 2rem; font-weight: bold;">Total: <span id="amount"></span> </label>
            <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Please enter a price</p>
            <div id="invoiceidDiv" style="text-align: center; display: none;"><label for="invoiceid"> </label><input
                    name="invoiceid" maxlength="127" type="text" id="invoiceid" value=""></div>
            <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please enter an Invoice ID
            </p>
            <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
        </div>
    {% endblock %}