{% extends 'model.html' %} {% block content %}
{% if get_flashed_messages(category_filter=["search_error"]) %}
{% for message in get_flashed_messages(category_filter=["search_error"]) %}
<p class="flash-message alert alert-danger text-center">{{ message }}</p>
{% endfor %}
{% endif %}
{% if get_flashed_messages(category_filter=["success"]) %}
{% for message in get_flashed_messages(category_filter=["success"]) %}
<p class="flash-message alert alert-success text-center">{{ message }}</p>
{% endfor %}
{% endif %}
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="max-height: 800px !important;">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="\static\assets\pexels-teona-swift-6913143.jpg" class="d-block w-100" alt="flower arrangement">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h4 style="color: #D8E2DC; text-shadow: 2px 2px black;">We're passionate about what we do</h4>
                <p style="color: #D8E2DC; text-shadow: 2px 2px black;">Let us handle your flower arrangement needs</p>
            </div> -->
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="\static\assets\pexels-anna-shvets-5894068.jpg" class="d-block w-100" alt="...">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h4 style="color: #D8E2DC; text-shadow: 2px 2px black;">No seriously...</h4>
                <p style="color: #D8E2DC; text-shadow: 2px 2px black;">Let us.</p>
            </div> -->
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="\static\assets\pexels-lumn-1410225.jpg" class="d-block w-100" alt="...">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h4 style="color: #D8E2DC; text-shadow: 2px 2px black;">I'm not kidding.</h4>
                <p style="color: #D8E2DC; text-shadow: 2px 2px black;">Order now.</p>
            </div> -->
        </div>
    </div>
</div>
</div>
<div class="d-flex justify-content-center">
    <h1 class="fw-light">Trending Products: These links won't work because I'm still figuring out how to change my database from MySQL to Postgres for Heroku deployment</h1>
</div>
<div class="d-flex justify-content-evenly">
    <div class="">
        <img src="https://cdn.shopify.com/s/files/1/0507/3754/5401/t/1/assets/C5375D_LOL_preset_ftd-hero-lv-new.jpeg?v=1614292587"
            alt="" class="thumbnail">
        <a href="/product/2">
            <h5 class="text-center fw-light">Light of My Life Bouqet</h5>
        </a>
    </div>
    <div>
        <img src="https://cdn.shopify.com/s/files/1/0507/3754/5401/t/1/assets/CGPD_LOL_preset_ftd-hero-lv-new.jpeg?v=1614357614"
            alt="" class="thumbnail">
        <a href="/product/5">
            <h5 class="text-center fw-light">Fiesta Bouquet</h5>
        </a>
    </div>
    <div class="">
        <img src="https://cdn.shopify.com/s/files/1/0507/3754/5401/t/1/assets/S5272D_LOL_preset_ftd-hero-lv-new.jpeg?v=1615900536"
            alt="" class="thumbnail">
        <a href="/product/8">
            <h5 class="text-center fw-light">Beautiful Spirit Basket</h5>
        </a>
    </div>
</div>

<div class="d-flex justify-content-center">
    <h1 class="fw-light">Buy from us</h1>
</div>
{% endblock %}