{% extends 'model.html' %}
{% block content %}


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FEC5BB">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo Here</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Flowers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Occasion</a>
                </li>
            </ul>
        </div>
    </div>
    <a href="#" class="nav-link">Account</a>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" style="background-color: #FEC5BB">Search</button>
    </form>
    <div>
        <img src="\static\assets\cart-dark.png" alt="shopping cart">
    </div>
</nav>
<div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="\static\assets\pexels-teona-swift-6913143.jpg" class="d-block w-100" alt="flower arrangement">
                <div class="carousel-caption d-none d-md-block">
                    <h5>We're passionate about what we do</h5>
                    <p>Let us handle your flower arrangement needs</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="\static\assets\pexels-anna-shvets-5894068.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>No seriously...</h5>
                    <p>Let us.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="\static\assets\pexels-photo-7245414.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>I'm not kidding.</h5>
                    <p>Order now.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container-fluid col-10">
    <h1>Trending Products:</h1>
    {% endblock %}