<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Floral Arts</title>
</head>

<body style="background-color: #FAE1DD">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div
            class="container-fluid d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" id="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img src="\static\assets\clipart1771141 (3).png" alt="logo" href="#">
            <!-- <div id="cart">
                <img src="\static\assets\PikPng.com_wheelbarrow-png_5860717 (1).png" alt="cart">
            </div> -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toffle="dropdown" href="/products/all">Flowers</a>
                        <div class="dropdown-menu">
                            <a href="/products/all" class="dropdown-item">Roses</a>
                            <a href="/products/all" class="dropdown-item">More Roses</a>
                            <a href="/products/all" class="dropdown-item">Even More Roses</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toffle="dropdown" href="/products/all">Occasions</a>
                        <div class="dropdown-menu">
                            <a href="/products/all" class="dropdown-item">Weddings</a>
                            <a href="/products/all" class="dropdown-item">Divorces</a>
                            <a href="/products/all" class="dropdown-item">More Weddings</a>
                        </div>
                    </li>
                </ul>
            </div>
            {% if user %}
            <a href="/account" class="btn btn-primary me-3">Your Account</a>
            <a href="/logout" class="btn btn-primary me-3">Logout</a>
            {% else %}
            <button class="btn btn-primary me-3" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Account</button> {% endif %}
            <form action="/search" method="post" class="d-flex col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <div>
                    <input class="form-control me-2 mt-3" name="product_name" type="text" placeholder="Search"
                        aria-label="Search" id='search' style='position: relative'>
                    <ul id="suggestions" class='suggestions-dropdown'></ul>
                </div>
                <button class="btn btn-outline-success m-3" type="submit">Search</button>
            </form>
        </div>
        <a href="/cart"><img src="\static\assets\PikPng.com_wheelbarrow-png_5860717 (1).png" alt="cart"
                style='margin-right: 50px;' href="/cart"></a>
    </nav>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="page-content">
                <div class="page-content">
                    <div class="form-v7-content" style='width: 70%'>
                        <form class="form-detail" id="reg-form">
                            <div class="form-row">
                                <label for="first_name">FIRST NAME</label>
                                <input type="text" name="first_name" id="first_name" class="input-text">
                                <span class='errors' id='reg_first_name_error'></span>
                            </div>
                            <div class="form-row">
                                <label for="last_name">LAST NAME</label>
                                <input type="text" name="last_name" id="last_name" class="input-text">
                                <span class='errors' id='reg_last_name_error'></span>
                            </div>
                            <div class="form-row">
                                <label for="email">E-MAIL</label>
                                <input type="text" name="email" class="input-text">
                                <span class='errors' id='reg_email_error'></span>
                            </div>
                            <div class="form-row">
                                <label for="password">PASSWORD</label>
                                <input type="password" name="password" class="input-text">
                            </div>
                            <div class="form-row">
                                <label for="password_confirmation">CONFIRM PASSWORD</label>
                                <input type="password" name="password_confirmation" id="password_confirmation"
                                    class="input-text">
                                <span class="errors" id='reg_pw_error'></span>
                            </div>
                            <div class="form-row-last">
                                <input type="submit" name="register" class="register" value="Register">
                                <p>Or<a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight2"
                                        aria-controls="offcanvasRight">Sign in</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight2" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="page-content">
                <div class="page-content">
                    <div class="form-v7-content" style='width: 70%'>
                        <form class="form-detail" id="login-form">
                            <div class="form-row">
                                <label for="email">E-MAIL</label>
                                <input type="text" name="email" class="input-text">
                                <span class='errors' id='login_email_error'></span>
                            </div>
                            <div class="form-row">
                                <label for="password">PASSWORD</label>
                                <input type="password" name="password" class="input-text">
                                <span class='errors' id='login_password_error'></span>
                            </div>
                            <div class="form-row-last">
                                <input type="submit" name="register" class="register" value="Sign In">
                                <p>Or<a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                        aria-controls="offcanvasRight">Register</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content %} {% endblock %}
    <div class="container">
        <footer class="py-5">
            <div class="d-flex justify-content-between">
                <div class="col-2">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="/products/all" class="nav-link p-0 text-muted">Flowers</a></li>
                        <li class="nav-item mb-2"><a href="/products/all" class="nav-link p-0 text-muted">Occasions</a></li>
                        <li class="nav-item mb-2"><a href="/about_us" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>
                <div class="col-4">
                        <h5>Subscribe to our newsletter</h5>
                        <p>Monthly digest of whats new and exciting from us.</p>
                        <div class="d-flex w-100 gap-2">
                            <form action="/newsletter_signup" method="post">
                                <label class="form-check-label" for="flexCheckDefault">Interested in emails?</label>
                                {% if user %}
                                <input type="hidden" name='email' value='{{user.email}}'>
                                {% else %}
                                <input type="email" name='email'>
                                {% endif %}
                                <button class='btn btn-primary me-3'>Sign Up</button>
                            </form>
                        </div>
                </div>
            </div>
    
            <div class="d-flex justify-content-between py-4 my-4 border-top">
                <p>&copy; 2021 Company, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#twitter" />
                            </svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#instagram" />
                            </svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#facebook" />
                            </svg></a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='search.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='login_reg.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD"
        data-sdk-integration-source="button-factory"></script>
    <script>
        function initPayPalButton() {
            var description = document.querySelector('#smart-button-container #description');
            var amount = document.querySelector('#smart-button-container #amount');
            var descriptionError = document.querySelector('#smart-button-container #descriptionError');
            var priceError = document.querySelector('#smart-button-container #priceLabelError');
            var invoiceid = document.querySelector('#smart-button-container #invoiceid');
            var invoiceidError = document.querySelector('#smart-button-container #invoiceidError');
            var invoiceidDiv = document.querySelector('#smart-button-container #invoiceidDiv');
            var elArr = [description, amount];
            if (invoiceidDiv.firstChild.innerHTML.length > 1) {
                invoiceidDiv.style.display = "block";
            }
            var purchase_units = [];
            purchase_units[0] = {};
            purchase_units[0].amount = {};
            function validate(event) {
                return event.value.length > 0;
            }
            paypal.Buttons({
                style: {
                    color: 'white',
                    shape: 'pill',
                    label: 'checkout',
                    layout: 'vertical',
                },
                onInit: function (data, actions) {
                    actions.disable();
                    if (invoiceidDiv.style.display === "block") {
                        elArr.push(invoiceid);
                    }
                    elArr.forEach(function (item) {
                        item.addEventListener('keyup', function (event) {
                            var result = elArr.every(validate);
                            if (result) {
                                actions.enable();
                            } else {
                                actions.disable();
                            }
                        });
                    });
                },
                onClick: function () {
                    if (description.value.length < 1) {
                        descriptionError.style.visibility = "visible";
                    } else {
                        descriptionError.style.visibility = "hidden";
                    }
                    if (amount.value.length < 1) {
                        priceError.style.visibility = "visible";
                    } else {
                        priceError.style.visibility = "hidden";
                    }
                    if (invoiceid.value.length < 1 && invoiceidDiv.style.display === "block") {
                        invoiceidError.style.visibility = "visible";
                    } else {
                        invoiceidError.style.visibility = "hidden";
                    }
                    purchase_units[0].description = description.value;
                    purchase_units[0].amount.value = amount.value;
                    if (invoiceid.value !== '') {
                        purchase_units[0].invoice_id = invoiceid.value;
                    }
                },
                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: purchase_units,
                    });
                },
                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (orderData) {
                        // Full available details
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        // Show a success message within this page, e.g.
                        const element = document.getElementById('paypal-button-container');
                        element.innerHTML = '';
                        element.innerHTML = '<h3>Thank you for your payment!</h3>';
                        // Or go to another URL:  actions.redirect('thank_you.html');
                    });
                },
                onError: function (err) {
                    console.log(err);
                }
            }).render('#paypal-button-container');
        }
        initPayPalButton();
    </script>
</body>

</html>