{% extends 'model.html' %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img src="\static\assets\clipart1771141 (3).png" alt="logo" href="#">
        <!-- <div id="cart">
                    <img src="\static\assets\PikPng.com_wheelbarrow-png_5860717 (1).png" alt="cart">
                    </div> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toffle="dropdown" href="#">Flowers</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Roses</a>
                        <a href="#" class="dropdown-item">More Roses</a>
                        <a href="#" class="dropdown-item">Even More Roses</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toffle="dropdown" href="#">Occasions</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Weddings</a>
                        <a href="#" class="dropdown-item">Divorces</a>
                        <a href="#" class="dropdown-item">More Weddings</a>
                    </div>
                </li>
            </ul>
        </div>
        {% if user %}
        <a href="/logout" class="btn btn-primary me-3">Logout</a> {% else %}
        <button class="btn btn-primary me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Account</button> {% endif %}
        <form class="d-flex col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <img src="\static\assets\PikPng.com_wheelbarrow-png_5860717 (1).png" alt="cart">
    </div>
</nav>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="page-content">
            <div class="page-content">
                <div class="form-v7-content" style='width: 70%'>
                    <form class="form-detail" id="reg-form">
                        <div class="form-row">
                            <label for="first_name">FIRST NAME</label>
                            <input type="text" name="first_name" id="first_name" class="input-text">
                            <span class='errors' id='reg_first_name_error'></span>
                        </div>
                        <div class="form-row">
                            <label for="last_name">LAST NAME</label>
                            <input type="text" name="last_name" id="last_name" class="input-text">
                            <span class='errors' id='reg_last_name_error'></span>
                        </div>
                        <div class="form-row">
                            <label for="email">E-MAIL</label>
                            <input type="text" name="email" id="email" class="input-text">
                            <span class='errors' id='reg_email_error'></span>
                        </div>
                        <div class="form-row">
                            <label for="password">PASSWORD</label>
                            <input type="password" name="password" id="password" class="input-text">
                        </div>
                        <div class="form-row">
                            <label for="password_confirmation">CONFIRM
                                PASSWORD</label>
                            <input type="password" name="password_confirmation" id="password_confirmation" class="input-text">
                            <span class="errors" id='reg_pw_error'></span>
                        </div>
                        <div class="form-row-last">
                            <input type="submit" name="register" class="register" value="Register">
                            <p>Or<a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight2" aria-controls="offcanvasRight">Sign
                                    in</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight2" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="page-content">
            <div class="page-content">
                <div class="form-v7-content" style='width: 70%'>
                    <form class="form-detail" id="reg-form">
                        <div class="form-row">
                            <label for="email">E-MAIL</label>
                            <input type="text" name="email" id="email" class="input-text">
                            <span class='errors' id='reg_email_error'></span>
                        </div>
                        <div class="form-row">
                            <label for="password">PASSWORD</label>
                            <input type="password" name="password" id="password" class="input-text">
                        </div>
                        <div class="form-row-last">
                            <input type="submit" name="register" class="register" value="Sign In">
                            <p>Or<a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Register</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container text-center">
        <h1 class='text-center'>Search Products:</h1>
        <select class="selectpicker form-select" data-show-subtext="true" data-live-search="true" id="mySelect" onchange="myFunction()">
            <option value="bouquets">Bouquets</option>
            <option value="assortment">Assortment</option>
        </select>
    </div>
</div>
<div class="row">
    {% for arrangement in arrangements %}
    <div class='col-3'>
        <img src="{{arrangement.image}}" alt="" class='thumbnail2 align-center'>
        <form action="/product/{{ arrangement.id }}">
            <p class='text-center'><button class='text-center button1'>{{arrangement.product.name}}</button></p>
        </form>
        <p class='text-center'>${{arrangement.price | round | int}}</p>
    </div>
    {% endfor %}
</div>




<div class="container">
    <footer class="py-5">
        <div class="d-flex justify-content-between">
            <div class="col-2">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Flowers</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Occasions</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>
            <div class="col-4">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of whats new and exciting from us.</p>
                    <div class="d-flex w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email
                            address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>&copy; 2021 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter" />
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram" />
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook" />
                        </svg></a></li>
            </ul>
        </div>
    </footer>
</div>
{% endblock %}