{% extends 'model.html' %} {% block content %}
{% if user %}
<div class="shopping-background">
    <div class="container d-flex justify-content-between">
        <h1>{{user.first_name}} {{user.last_name}}</h1> {% endif %}
    </div>
    <div class='container row ms-auto me-auto'>
        <div class="col mt-4">
            <h1>{{arrangement.product.name}}</h1>
            <img src="{{arrangement.image}}" alt="" class='thumbnail3'>
        </div>
        <div class='col mt-4'>
            <div class='d-flex justify-content-between'>
                <h1>Price</h1>
                <h1>Size</h1>
            </div>
            <div class='d-flex justify-content-between'>
                <h1>${{arrangement.price | round | int}}</h1>
                <div>
                    {% for arrangement in arrangement.product.arrangements %}
                    <form action="/product/{{ arrangement.id }}">
                        <button type="submit" class="btn btn-outline-dark btn-rounded mt-3" data-mdb-ripple-color="dark">{{arrangement.size}}</button>
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class='row'>
            <form action="/carts/add_arrangement" method='post'>
                <button type="submit" class="btn btn-dark btn-rounded mt-3" data-mdb-ripple-color="dark">Add To Cart</button>
                <input type="hidden" name='quantity' value='1'>
                <input type="hidden" name='arrangement_id' value='{{arrangement.id}}'>
            </form>
        </div>
    </div>
    {% endblock %}