{% extends 'model.html' %} {% block content %} {% if user %}
<div class="shopping-background">
    <div class="container d-flex justify-content-between">
        <h1>{{user.first_name}} {{user.last_name}}</h1> {% endif %}
        <div class='mt-3'>
            <form action="/newsletter_signup" method='POST'>
                <label class="form-check-label" for="flexCheckDefault">Interested in emails?</label> {% if user %}
                <input type="hidden" name='email' value='{{user.email}}'> {% else %}
                <input type="email" name='email'> {% endif %}
                <button class='btn btn-primary me-3'>Sign Up</button>
            </form>
        </div>
    </div>
    <div class="justify-content-center d-flex">
        <div>
            <h1>Your Cart</h1>
        </div>
    </div>
    <div class='container ms-auto me-auto'>
        <div class='d-flex justify-content-between'>
            <h1>Product</h1>
            <div class=' d-flex justify-content-between' style='gap: 75px'>
                <h1>Price</h1>
                <h1>Quantity</h1>
            </div>
        </div>
        {% if cart %} {% for item in cart.cart_items %}
        <div class="d-flex row mb-3 align-items-end" style='flex-wrap:nowrap'>
            <img src="{{item.arrangement.image}}" alt="" style='flex:2' class='thumbnail4'>
            <div style='flex:8'></div>
            <h1 style='flex:1'>$<span class="price">{{ item.arrangement.price | round | int }}</span></h1>
            <div style="flex:2"></div>
            <h1 class="quantity" style='flex:1'>{{ item.quantity }}</h1>
            <h1 class='result' style='flex:1'></h1>
            <form style='flex:1' action="/carts/remove_arrangement" method="post">
                <input type="hidden" name="id" value="{{ item.id }}">
                <button class='btn btn-dark btn-rounded mt-3'>Remove from Cart</button>
            </form>
        </div>
        {% endfor %} {% else %}
        <div class="d-flex justify-content-center mt-3 ms-3">
            <div class="row">
                {% for cart_item in cart_items %}
                <div class="col-auto">
                    <img class="thumbnail5" src="{{ cart_item.guest_arrangement.image }}" alt="">
                    <p>Product: {{ cart_item.guest_arrangement.product.name }}</p>
                    <p>Arrangement: {{ cart_item.guest_arrangement.size }}</p>
                    <p>Quantity: <span class="quantity">{{ cart_item.quantity }}</span></p>
                    <p>Price: $<span class="price">{{ cart_item.guest_arrangement.price| round| int}}</span></p>
                    <form style='flex:1' action="/carts/remove_arrangement" method="post">
                        <input type="hidden" name="arrangement_id" value="{{ cart_item.arrangement_id }}">
                        <button class='btn btn-dark btn-rounded mt-3'>Remove from Cart</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <h3 class="text-center">Total: $<span id="amount"></span></h3>
    <div class=' d-flex justify-content-center '>
        <form action="/checkout">
            <button class='btn btn-dark btn-rounded mt-3 ' type='submit '>Checkout</button>
        </form>
    </div>
</div>
{% endblock %}